<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MHX nuget Repository" value="https://repo.mhx.at/repository/nuget-hosted/" />
    <add key="Github nuget Repository" value="https://nuget.pkg.github.com/maximiliancsuk" />
  </packageSources>
  <disabledPackageSources>
    <add key="MHX nuget Repository" value="true" /><!-- TODO -->
</disabledPackageSources>
</configuration>