#root {
  height: 100%;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ag grid popup */
.ag-theme-balham .ag-popup {
    height: auto; /* resize, so you have no white background*/
}

/* HACK: ant design sets box-sizing globally to "border-box" and graphiql does not like this
  so we manually reset the box-sizing inside the graphiql-container and its children */
.ant-layout .graphiql-container * {
  box-sizing: unset;
}